:root {
  --light-accent: #4fff70;
  --dark-accent: #309b44;
}
body {
  background-color: #101010;
  color: #FFFFFF;
  font-family: sans-serif; 
}





/*navbar*/
body {  
  height: 125vh;  
  margin-top: 80px;  
  padding: 30px;  
  background-size: cover;  
}  
header {  
  background-color: #202020;  
  position: fixed;  
  left: 0;  
  right: 0;  
  top: 0px;  
  height: 50px;  
  display: flex;  
  align-items: center;  
  box-shadow: 0 0 50px 0 #bbb;  
  z-index:1;
  padding-left: 10px;
}  
header * {  
  display: inline;  
}  
header li { 
  color: #CCCCCC;
  margin: 10px;  
}  
header li a {  
  color: var(--light-accent);  
  text-decoration: none;  
  text-underline-offset: 1px;
  transition-duration: 0.5s;
}  
header li a:hover {  
  text-decoration: underline;
} 
